body {
    background-image: url('yewest.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 50px;
    text-align: center;
}