/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.roboto-bold {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body {
    margin: 0;
}

.title {
    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    background-color: #a36f1a;
    font-size: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.navbar ul {
    display: flex;
}

.container .navbar {
    justify-content: space-between;
}

.navbar ul li {
    list-style-type: none;
    
  }
  
  .container .navbar ul li {
    padding: 10px;
    margin: 0 10px;
  }
  
  .navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: gray;
  }